.experience-container {
    padding-left: 50px;
    padding-right: 50px;
}

.container-retangles {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 50px;

    margin-bottom: 15px;
}

.container-all-retangles {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-retangle {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 50px;

    margin-bottom: 15px;
}

.rectangles {
    display: flex;
    align-items: center;

    flex-wrap: wrap;

    padding: 25px;

    font-size: 18px;
    font-family: 'PT Sans', sans-serif;

    background-color: #F1F1F1;

    border-left: 10px solid #131673;

    border-radius: 5px;
}

.rectangle {
    width: 90%;

    display: flex;
    align-items: center;

    flex-wrap: wrap;

    font-size: 18px;
    font-family: 'PT Sans', sans-serif;

    padding: 25px;

    background-color: #F1F1F1;

    border-left: 10px solid #131673;

    border-radius: 5px;
}

.orgao-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.orgao-container-isolade {
    width: 100%;

    display: flex;
    justify-content: flex-start;
}

.orgao-img-container {
    border-left: 8px solid #131673;
    border-right: 8px solid #D5D5D5;
    border-top: 8px solid #D5D5D5;
    border-bottom: 8px solid #D5D5D5;

    border-radius: 10px;

    overflow-y: hidden;
}

.orgao {
    width: 290px;
    height: 310px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 10px;

    padding: 5px;
}

.orgao img {
    width: 200px;
}

.orgao p {
    font-family: 'Khand', sans-serif;
    font-size: 25px;
    font-weight: 600;

    overflow-y: hidden;
}

@media (max-width: 910px) {
    .experience-container {
        padding-left: 15px;
        padding-right: 15px;
    }   

    .container-all-retangles {
        padding-left: 15px;
        padding-right: 15px;
    }

    .container-retangles {
        flex-direction: column;
        justify-content: center;

        gap: 20px;
    }

    .container-retangle {
        flex-direction: column;
        justify-content: center;
    }

    .rectangles {
        padding: 25px;
    }

    .rectangle {
        width: 100%;
    }
}

@media (max-width: 910px) {
    .container-all-retangles {
        padding-left: 0px;
        padding-right: 0px;
    }
}