.infos {
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;

    margin-top: 70px;
    margin-bottom: 70px;
}

.foto-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto {
    width: 300px;
}

.button-type-1 {
    width: 220px;
    height: 55px;

    border: 2px #131673 solid;

    border-radius: 5px;
}

.button-type-1 p {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

.button-type-1 button {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background-color: #FFF;

    gap: 8px;

    border: none;
}

.button-type-1-hover {
    width: 220px;
    height: 55px;

    border-radius: 5px;

    cursor: pointer;
}

.button-type-1-hover p {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;

    color: #FFF;
}

.button-type-1-hover button {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background-color: #070946;

    gap: 8px;

    border: none;

    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.info a {
    text-decoration: none;
}

.info-response {
    display: none;
}

.info h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 22px;

    color: #BBBBBB;
}

.info h1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 30px;
}

.info p {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;

    font-size: 20px;
}

.servicos-container {
    width: 100vw;

    display: flex;
    flex-direction: column;

    background-color: #252527;

    margin-top: 50px;

    padding-left: 100px;
    padding-right: 100px;

    border-top: 25px solid #070946;
    border-bottom: 25px solid #070946;
}

.servicos-container-responsive {
    display: none;
}

.servicos-title {
    margin-top: 25px;
}

.servicos-title h1 {
    color: #FFF;
    font-size: 40px;

    margin-top: 25px;
}

.fotos-container {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.foto-orgao {
    width: 450px;
}

.foto-fios {
    width: 450px;
}

@media (max-width: 1120px) {
    .servicos-container {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 960px) {
    .servicos-container {
        display: none;
    }

    .servicos-container-responsive {
        width: 100%;

        display: flex;

        flex-direction: column;

        gap: 25px;

        padding-left: 25px;
        padding-right: 25px;

        background-color: #252527;

        border-top: 25px solid #070946;
        border-bottom: 25px solid #070946;
    }

    .fotos-container-responsive {
        width: 100vw;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-right: 50px;

        margin-top: 50px;
        margin-bottom: 50px;
    }

    .foto-orgao-responsive {
        width: 350px;
    }

    .foto-fios-responsive {
        width: 350px;
    }

    .button-response {
        width: 80%;
        height: 60px;

        background-color: #FFF;

        border-radius: 5px;

        border: 2px solid #131673;

        margin-top: 15px;

        text-decoration: none;
    }

    .button-response button {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 10px;

        border: none;

        background-color: transparent;

        font-size: 25px;
    }

}

@media (max-width: 890px) {
    .infos {
        gap: 30px;
    }

    .info {
        display: none;
    }

    .info-response {
        width: 35%;

        display: flex;
        flex-direction: column;

        gap: 10px;
    }

    .info-response h3 {
        font-family: 'PT Sans', sans-serif;
        font-weight: normal;
        font-size: 22px;

        color: #BBBBBB;
    }

    .info-response h1 {
        font-family: 'PT Sans', sans-serif;
        font-weight: normal;
        font-size: 30px;
    }

    .info-response p {
        font-family: 'PT Sans', sans-serif;
        font-weight: normal;

        font-size: 20px;
    }

    .foto {
        width: 300px;
    }
}

@media (max-width: 760px) {
    .info-response {
        width: 45%;

        display: flex;
        flex-direction: column;

        gap: 10px;
    }

    .foto-orgao-responsive {
        width: 280px;
    }

    .foto-fios-responsive {
        width: 280px;
    }
}

@media (max-width: 650px) {
    .infos {
        gap: 25px;
    }

    .foto {
        width: 300px;
    }

    .info-response h3 {
        font-size: 25px;
    }

    .info-response h1 {
        font-size: 28px;
    }

    .info-response p {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .infos {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
    }

    .info-response {
        width: 60%;

        display: flex;
        flex-direction: column;

        gap: 15px;
    }

    .foto {
        width: 280px;

        margin-top: 5px;
    }

    .info-response h3 {
        font-size: 25px;
    }

    .info-response h1 {
        font-size: 30px;
    }

    .info-response p {
        font-size: 20px;
    }

    .fotos-container-responsive {
        width: 100vw;

        display: flex;
        align-items: center;

        flex-direction: column;

        gap: 25px;
    }

    .button-response {
        width: 80%;

        align-self: center;
    }
}

@media (max-width: 430px) {
    .info-response {
        width: 60%;
    }

    .foto {
        margin-top: 0px;
    }
}

@media (max-width: 375px) {
    .foto {
        width: 250px;
    }

    .info-response {
        width: 80%;
    }
}

@media (max-width: 270px) {
    .foto {
        width: 250px;
    }

    .info-response {
        width: 95%;
    }
}